<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mode" value="Tab" />
    <add key="connectstring" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAQ4mtkny2cU2fdmpNpXRsawAAAAACAAAAAAADZgAAqAAAABAAAACrfIAQczVsMNovupwFJb62AAAAAASAAACgAAAAEAAAAOKxl2fD3QOGZMBS5+NY30eYAAAASjKLp1+PIqmKUhOa27MCol07oojA8RTAIQopk1UyAMCDVVdEPNefumnesPi66o0vL+jQa2immbWWSq/g8LiJYgEDufjQyAV70CaWC2J0uCnXs7uG/UmZVjH62c+Fl5PVoD/rFPd+k2VS08yQVx5e66zav20Luhnl+kSWymCl6WAfm1oyOI/ad4FprsChyJVGGeNkanaJxW4UAAAAxMP/Az01uSw5qyrhmmrnHsvxaF0=" />
  </appSettings>
</configuration>